kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
name: kind
kubeadmConfigPatches:
- |
  apiVersion: kubeadm.k8s.io/v1beta3
  kind: ClusterConfiguration
  metadata:
    name: config
  apiServer:
    extraArgs:
      "max-requests-inflight": "1000"
      "max-mutating-requests-inflight": "500"
nodes:
- role: control-plane
  extraPortMappings:
  - containerPort: 30080
    hostPort: 38080
    protocol: TCP
  - containerPort: 30088
    hostPort: 38088
    protocol: TCP
  - containerPort: 30081
    hostPort: 38081
    protocol: TCP
  - containerPort: 30082
    hostPort: 38082
    protocol: TCP
  - containerPort: 39000
    hostPort: 39000
    protocol: TCP
- role: worker
  labels:
    node-type: worker
  extraMounts:
  - hostPath: ${PWD}
    containerPath: /mnt/nyc-project
  - hostPath: ${PWD}/data
    containerPath: /mnt/nyc-data
- role: worker
  labels:
    node-type: worker
  extraMounts:
  - hostPath: ${PWD}
    containerPath: /mnt/nyc-project
  - hostPath: ${PWD}/data
    containerPath: /mnt/nyc-data
